
.menu {
    background-color: #333;
    padding: 12px 20px;

    display: flex;
    justify-content: flex-end;   
    align-items: center;
    gap: 25px;
}


.menu a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    padding: 8px 12px;
    transition: 0.2s;
}


.menu a:hover {
    background-color: #555;
    border-radius: 5px;
}
